<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{grade}}}</p>
  <p> {{student.name}} has {{format_grade}}</p>
  <p>
    <button class="btn btn-primary">Assign tutor</button>
  </p>
</div>

<script src="./models/student.js"></script>
</body>
  <html lang="en">

    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <div class="container text-center">
      <h2>Students Grades</h2>
      <p></p>            
      <table class="table table-bordered">
      
        <thead>
          <tr>
            <th>Name</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>James</td>
            <td>74</td>
          </tr>
          <tr>
            <td>Amber</td>
            <td>65</td>
          </tr>
          <tr>
            <td>Lauren</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Lisa</td>
            <td>78</td>
          </tr>
          <tr>
            <td>Tay</td>
            <td>69</td>
          </tr>
          <tr>
            <td>Ally</td>
            <td>90</td>
          </tr>
          <tr>
            <td>Edith</td>
            <td>95</td>
          </tr>
          <tr>
            <td>Maurice</td>
            <td>72</td>
          </tr>
          <tr>
            <td>Bello</td>
            <td>86</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>63</td>
          </tr>
          <tr>
            <td>Micah</td>
            <td>76</td>
          </tr>
          <tr>
            <td>Sean</td>
            <td>72</td>
          </tr>
          <tr>
            <td>Micheal</td>
            <td>69</td>
          </tr>
          <tr>
            <td>Hollis</td>
            <td>89</td>
          </tr>
        </tbody>
      </table>
    </div >
    
    
    </body>
    </html>
</html>
