<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{grade}}}</p>
  <p> {{student.name}} has {{format_grade}}</p>
  <p>
    <button class="btn btn-primary">Assign tutor</button>
  </p>
</div>

<script src="./models/student.js"></script>